<ion-header>
  <ion-toolbar>
    <h2>Catumbela</h2>
    <img src="assets/fotos/catumbela.jpg"> 


<p>Catumbela é um município e comuna angolana que se localiza na província de Benguela. Tem o nome do rio Catumbela

    Antes Catumbela era uma das comunas da província de Benguela, e ascendeu à categoria de município em 5 de Outubro de 2011. De acordo com o censo de 2014, o município tinha na altura 167 625 habitantes distribuídos em quatro comunas: Vila da Catumbela (sede), Gama, Biopia e Praia Bebe.[1] Esta localidade é servida por uma estação na rede ferroviária nacional e por um aeroporto. Fica situada entre os municípios de Benguela e Lobito.</p>
    <br><br>
    <img src="assets/fotos/catumbela2.jpg"> 
    <img src="assets/fotos/catumbela3.jpg"> 
<ion-content>

</ion-content>
