<ion-header>
  <ion-toolbar>
    <h2> Baia-farta</h2>
    
  

    <img src="assets/fotos/baiafarta.jpg"> 
    Baía Farta

<p>
Baía Farta é uma cidade e município da província de Benguela, em Angola.

Tem 6 744 km² de área. Em 2014, tinha 102 989 habitantes.Limita a Norte com o município de Benguela, a Este com os municípios de Caimbambo e Chongoroi, a Sul com os municípios de Camacuio e Moçâmedes e a Oeste com o oceano Atlântico. É um importante centro piscatório.

Compõe-se de quatro comunas: Baía Farta, Dombe Grande, Calahanga e Equimina.</p>
<img src="assets/fotos/baiafarta1.jpg"> <br>
<img src="assets/fotos/baiafarta2.jpg"> 
<ion-content>

</ion-content>
