
  <ion-toolbar>
    <h2>Lobito</h2>
  </ion-toolbar>
<h3>Lobito terra da Felicidade</h3>









  <img src="assets/fotos/lobito.jpg">
  O Lobito 
  <br>
  <p>O Lobito é uma cidade e um município da província de Benguela, em Angola.

      Localiza-se na costa do Atlântico. Tem 3 648 km² e cerca de 805 mil habitantes. Limita a Norte com o município do Sumbe, a Este com o município do Bocoio, a Sul com o município de Benguela e a Oeste com o Oceano Atlântico.
      
      O município compõe-se das comunas de Lobito, Egipto Praia e Canjala.
      
      O antigo concelho foi criado em 1843. O Porto do Lobito é o segundo porto de carga do país. Os caminhos de ferro de Benguela (CFB) começam no porto do Lobito e fazem ligação com a costa oriental de África.</p>

      <img src="assets/fotos/lobito3.jpg"> 
    

<ion-content>

</ion-content>
